$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

//z-indexes
$z-fixed-menu: 100;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "layout";

//components
@import "components/hero.scss";
@import "components/header.scss";
@import "components/features.scss";
@import "components/feature__icon.scss";
@import "components/btn.scss";
@import "components/section.scss";
@import "components/headline__title.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/benefits-section.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/fixed-menu.scss";