.ineractive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid #0f5a47;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.ineractive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.ineractive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}